@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/enterprise";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

